*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.template{
    display: flex;
    flex-direction: column;
    margin:6px 18px;
   /* background-color: blue;*/
    gap: 25px;
}

nav{
display: flex;
padding: 15px 40px;
justify-content: space-between;
text-align: center;
margin-bottom: 25px;
}
nav h1{
    font-size:xx-large;
    color: rgb(0, 194, 194) ;
}

.navbar{
    display: flex;
    margin-right: 69px;
    gap: 30px;
}

.navbar > *{
    padding: 2%;
   /* background-color: brown;*/
    color: black;
    border-radius: 4px;
    border: 0.1px solid rgba(0, 194, 194, 0.041);
    box-shadow: 0.2px 0.2px rgba(128, 128, 128, 0.212) ;   
}
.navbar > *:hover{
     padding: 2%;
     background-color:  rgba(0, 194, 194, 0.027) ;
     color: black;
     border-radius: 4px;
     border: 0.1px solid rgba(146, 172, 172, 0.596);
     box-shadow: 0.2px 0.2px rgba(128, 128, 128, 0.212) ;  
}

main{
    margin: 0px 28px;
    height: 100%;
    margin-left: 40px;
    margin-right: 37px;
}

footer{
    background-color: blue;
    height: 195px;
    margin: 0px 30px;
    margin-bottom: 7px;
}
footer > *{
    margin: 8px 20px;
}

.homesections{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.homesection1{
    /*background-color: grey;*/
    height: 480px;
}
section .homesection1{
    display: flex;
    justify-content: space-between;
}
.textSide{
    display: flex;
    flex-direction: column;
    gap: 13px;  
}
.buttonContainer{
    display: flex;
    gap: 18px;
}
.btn1 ,.btn2{
    display: flex;
    color: black;
    background-color: aqua;
    padding: 1.5% 3%;
    text-align: center;
    border-radius: 5px;
}
.imgSide{
    display: flex;
    background-color: aqua;
    width: 450px;
    height: 450px;
    margin: 0px 40px;
}
.homesection2{
    background-color: green;
    height: 840px;
}
.homesection3{
    background-color: yellow;
    height: 310px;
}
.homesection4{
    background-color: pink;
    height: 800px;
}
.homesection5{
    background-color: grey;
    height: 450px;
}
.homesection6{
    background-color: indigo;
    height: 220px;
}